<html>
	<head>
		<title>HTML TEST</title>
	</head>
	
	<body>
		<h1 style="text-align:center; color:black"> Idk lol </h1>
		
		<p style="text-align:center; color:black" title="Chesse_cake">Hover over me
			<hr>
				<pre>
				<em>Still in testing</em>
				<!-- Comments are not displayed in the browser -->
				
				<strong>Okay, time for more tests</strong>
				
				<ins>Will this work</ins>
				
                <sup>Let us hope </sup>

                <%= link_to 'Home', root_path %>
				</pre>
			</hr>
		</p>
		
		<a  style="color:black" href="https://www.w3schools.com/html/html_basic.asp">Link for learning</a>
		
		<%= image_tag 'download.jpeg' %>
		
		

		<button>Search</button>
		
		<ul>
			<li>Tea</li>
			<li>Coffee</li>
			<li>Milk</li>
		
	</body>
</html>