<html>
	<head>
		<title>HTML TEST</title>
		<style>
table, th, td {
  border: 1px solid black;
}
</style>
	</head>
	
	<body>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	* {
	  box-sizing: border-box;
	}
	
	body {
	  font-family: Arial, Helvetica, sans-serif;
	}
	
	header {
	  background-color: #666;
	  padding: 30px;
	  text-align: center;
	  font-size: 35px;
	  color: white;
	}
	
	nav {
	  float: left;
	  width: 30%;
	  height: 300px; 
	  background: #ccc;
	  padding: 20px;
	}
	
	nav ul {
	  list-style-type: none;
	  padding: 0;
	}
	
	article {
	  float: left;
	  padding: 20px;
	  width: 70%;
	  background-color: #f1f1f1;
	  height: 300px; /* only for demonstration, should be removed */
	}
	
	section:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	footer {
	  background-color: #777;
	  padding: 10px;
	  text-align: center;
	  color: white;
	}
	
	@media (max-width: 600px) {
	  nav, article {
		width: 100%;
		height: auto;
	  }
	}
	</style>



		<h1 style="text-align:center; color:black"> Idk lol </h1>
		
		<p style="text-align:center; color:black" title="Chesse_cake">Hover over me
			<hr>
				<pre>
				<em>Running tests now</em>
				<!-- Comments are not displayed in the browser -->
				
				<strong>Okay, time for more tests</strong>
				
				<ins>Will this work</ins>
				
                <sup>Let us hope </sup>

                <%= link_to 'About', about_path %>
				</pre>
			</hr>
		</p>
		
		<a  style="color:black" href="https://en.wikipedia.org/wiki/Stan_Lee">Excelsior</a>
		
		<%= image_tag 'batman.png' %>


		
		<button>Search</button>
		
		<ul>
			<li>Tea</li>
			<li>Coffee</li>
			<li>Milk</li>

			<table>
  <tr>
    <th>Cake</th>
    <th>Size</th>
    <th>Flavor</th>
  </tr>
  <tr>
    <td>Creme De Le Cruise</td>
    <td>Large</td>
    <td>Vanilla</td>
  </tr>
  <tr>
    <td>Senior El Frost</td>
    <td>Small</td>
    <td>Chocolate+Mint</td>
  </tr>
  <tr>
    <td>Le Bomb</td>
    <td>Medium</td>
    <td>White Forest</td>
  </tr>
  <tr>
    <td>Though Shall Not Pass</td>
    <td>Large</td>
    <td>Whatever Gandalf Tastes Like</td>
  </tr>
  <tr>
    <td>You May Kiss</td>
    <td>Extra Large</td>
    <td>Black Forest</td>
  </tr>
  <tr>
    <td>Oui Oui Baguette Eiffel Tower</td>
    <td>Maximum Size</td>
	<td>France</td>
	
	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Try me</a>
		
	<iframe src="https://en.wikipedia.org/wiki/Stan_Lee" height="600" width="600"></iframe>

	</body>
</html>