<html>
	<head>
		<title>HTML TEST</title>
		<style>
table, th, td {
  border: 1px solid black;
}
</style>
	</head>
	
	<body>
		<h1 style="text-align:center; color:black"> Idk lol </h1>
		
		<p style="text-align:center; color:black" title="Chesse_cake">Hover over me
			<hr>
				<pre>
				<em>Running tests now</em>
				<!-- Comments are not displayed in the browser -->
				
				<strong>Okay, time for more tests</strong>
				
				<ins>Will this work</ins>
				
                <sup>Let us hope </sup>

                <%= link_to 'About', about_path %>
				</pre>
			</hr>
		</p>
		
		<a  style="color:black" href="https://www.w3schools.com/html/html_basic.asp">Link for learning</a>
		
		<%= image_tag 'Fractal.png' %>


		
		<button>Search</button>
		
		<ul>
			<li>Tea</li>
			<li>Coffee</li>
			<li>Milk</li>

			<table>
  <tr>
    <th>Cake</th>
    <th>Size</th>
    <th>Flavor</th>
  </tr>
  <tr>
    <td>Creme De Le Cruise</td>
    <td>Large</td>
    <td>Vanilla</td>
  </tr>
  <tr>
    <td>Senior El Frost</td>
    <td>Small</td>
    <td>Chocolate+Mint</td>
  </tr>
  <tr>
    <td>Le Bomb</td>
    <td>Medium</td>
    <td>White Forest</td>
  </tr>
  <tr>
    <td>Though Shall Not Pass</td>
    <td>Large</td>
    <td>Whatever Gandalf Tastes Like</td>
  </tr>
  <tr>
    <td>You May Kiss</td>
    <td>Extra Large</td>
    <td>Black Forest</td>
  </tr>
  <tr>
    <td>Oui Oui Baguette Eiffel Tower</td>
    <td>Maximum Size</td>
    <td>France</td>
		
	</body>
</html>